.pets{
    &__block {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &__title {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .cards .pets{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .pet-card {
            max-width: 570px;
            padding: 10px;
            display: flex;
            justify-content: center;
            min-height: 370px;
            border-radius: 10px;
            background: #fafafa;
            border-radius: 8px;
            margin: 5px;
            &__name {
                font-size: 20px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: #000000;
                margin-top: 30px;
                margin-bottom: 5px;
                margin-left: 20px;
            }
            &__breed {
                font-size: 14px;
                margin-bottom: 20px;
                margin-left: 20px;
            }
            &__items {
                margin-left: 20px;
                list-style: none;
            }
            &__item {
                margin-bottom: 5px;
                font-size: 13px;
                &--descr {
                    list-style-type: none;
                    font-size: 13px;
                    margin-top: 15px;
                }
            }
            &__item::before {
                content: "•"; 
                color: #f1cdb3; 
                margin-right: 0.5em;
              }
        }
    }
}
