
.animate-fade {
    animation-name: anima;
    animation-duration: 0.10s;
    animation-fill-mode: forwards;
}

@keyframes anima {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate {
    opacity: 0;
  }
  
  .none {
    display: none;
  }
  